body{
  margin:0;
  padding:0;
  background:#001f29;
  color:white;
  font-family:sans-serif;
}

.container{
  padding:20px;
}

h1{
  font-size:70px;
  margin-bottom:10px;
}

.count{
  font-size:25px;
  margin-bottom:20px;
}

input,
select,
button{
  width:100%;
  margin-bottom:15px;
  padding:20px;
  border:none;
  border-radius:20px;
  font-size:20px;
  box-sizing:border-box;
}

#addBtn{
  background:#00d1b2;
  color:white;
  font-size:24px;
}

.filters{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.filters button{
  background:#08384a;
  color:white;
}

.task-card{
  background:#08384a;
  border-radius:20px;
  padding:20px;
  margin-bottom:20px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.task-info h3{
  margin:0;
  font-size:28px;
}

.task-info p{
  margin:5px 0;
  color:#cccccc;
}

.task-info small{
  color:#aaaaaa;
}

.task-buttons{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.task-buttons button{
  width:120px;
  padding:10px;
  font-size:18px;
}

.task-buttons button:first-child{
  background:#00c853;
  color:white;
}

.task-buttons button:last-child{
  background:red;
  color:white;
}
